.login-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    display: grid;        
    align-items: center;    
    margin: 0 auto;    
    padding: 15px;

    @media (min-width: 769px){
        grid-template-columns: 1fr 1fr;
        grid-gap: 100px;
    }

    @media (max-width: 768px){
        grid-template-columns: 1fr;
    }

    .form-section {                

        input {
            margin-bottom: 10px;
        }
    }
              
    .description {
        color: #999;
        font-size: 12px;
        margin-top: 10px;
    }

    h1 {        
        margin: 10px auto;        
    }

    a {
        display: flex;
        align-items: center;
        margin-top: 20px;
        color: #999;
        text-decoration: none;        
        transition: opacity 1s;

        &:hover {
            opacity: .75;            
        }

        .icon {
            margin-right: 10px;
        }
    }

    .heroes-img {
        width: 100%;
    }

}