.register-container {    
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .content {
        width: 100%;
        padding: 96px;
        background: #f0f0f5;
        box-shadow: 0 0 100px rgba(0, 0, 0 ,.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    section {
        width: 100%;
        max-width: 380px;

        h1 {
            margin-top: 32px;
        }

        p {
            font-size: 18px;    
            color: #737380;
            line-height: 32px;
        }

        // should be a component..
        .link-back {
            text-decoration: none;
            color: #999;
            display: flex;
            align-items: center;
            margin-top: 20px;

            .icon-back {
                margin-right: 10px;
            }
        }
    }

    form {
        width: 100%;        
        max-width: 450px;
        
        .icon-register {
            margin-left: 10px;
        }
    }
}